/* Reset */
body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
}

/* Header */
header {
    background-color: #2c3e50;
    color: white;
    padding: 30px;
    text-align: center;
}

/* Navigation */
nav {
    background-color: #34495e;
    text-align: center;
    padding: 10px;
}

nav a {
    color: white;
    text-decoration: none;
    margin: 0 15px;
    font-weight: bold;
}

nav a:hover {
    color: #f1c40f;
}

/* Sections */
section {
    padding: 30px;
    background-color: white;
    margin: 20px;
    border-radius: 5px;
    
}

h2 {
    color: #2c3e50;
}

/* Skills List */
ul {
    list-style-type: square;
    padding-left: 20px;
}
